In [3]:
import sqlite3 as sql

In [4]:
connection = sql.connect('database.db')
cursor = connection.cursor()

In [5]:
cursor.execute('''CREATE TABLE IF NOT EXISTS users
                (id INTEGER PRIMARY KEY AUTOINCREMENT,
                username TEXT,
                password TEXT)''')
connection.commit()

In [6]:
#insert data
cursor.execute('''INSERT INTO users (username, password) VALUES ('admin', 'admin')''')
connection.commit()

In [7]:
cursor.execute(''' Insert INTO users (username, password) VALUES ('user', 'user')''')
connection.commit()

In [9]:
cursor.execute('''SELECT * FROM users''')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'admin', 'admin')
(2, 'user', 'user')

In [10]:
#working with sales data
connection = sql.connect('sales.db')
cursor = connection.cursor()
cursor.execute('''CREATE TABLE IF NOT EXISTS sales
                (id INTEGER PRIMARY KEY AUTOINCREMENT,
                product TEXT,
                quantity INTEGER,
                price REAL)''')
sales = [('Laptop', 10, 1000),
            ('Mouse', 20, 20),
            ('Keyboard', 10, 50),
            ('Monitor', 5, 200)]
cursor.executemany('''INSERT INTO sales (product, quantity, price) VALUES (?, ?, ?)''', sales)
connection.commit()

In [11]:
#fetch data from sales
cursor.execute('''SELECT * FROM sales''')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Laptop', 10, 1000.0)
(2, 'Mouse', 20, 20.0)
(3, 'Keyboard', 10, 50.0)
(4, 'Monitor', 5, 200.0)